{% include "header.html" %}

<section class="tm-banner">
  <div class="tm-container-outer about-banner">
    <h1 class="about-title">ABOUT</h1>
  </div>
</section>


<section class="p-5 tm-container-outer tm-bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 mx-auto tm-about-text-wrap text-center">
                <p class="mb-4 fsm">
                    Wanderlust is a comprehensive Travel Destination Platform that combines a user-friendly
                    website and a powerful RESTful API. The website offers an interactive user-friendly interface
                    where you can discover travel destinations, view detailed city information, check real-time
                    weather updates and booking flight tikets. Simultaneously, the RESTful API empowers developers to
                    programmatically access data, enabling them to retrieve, create, update, and delete destinations.
                </p>
            </div>
        </div>
    </div>
</section>

<div class="tm-container-outer" id="tm-section-2" style="background: #fff;">
    <section class="tm-slideshow-section">
        <div class="tm-slideshow">
            <img class="about-photo" src="{{ url_for('static', filename='img/about-01.png') }}" alt="Image">
        </div>
        <div class="tm-slideshow-description about-info">
            <h3>Discover New Destinations</h3>
            <p>Wanderlust lets you dive into cities around the world with detailed and structured data.
                Each destination offers ratings on categories like food, nightlife, sightseeing, hiking, beaches,
                shopping, museums, and more, helping you understand what each place truly offers.
                You’ll also get a real-time weather forecast and an integrated flight ticket booking widget to plan
                and book your trip confidently. Whether you're exploring urban hubs or nature escapes,
                Wanderlust gives you the tools to compare, evaluate, and choose your next journey with ease.</p>
        </div>
    </section>

    <section class="clearfix tm-slideshow-section tm-slideshow-section-reverse">
        <div class="tm-right tm-slideshow tm-slideshow-highlight">
            <img class="about-photo" src="{{ url_for('static', filename='img/about-02.png') }}" alt="Image">
        </div>
        <div class="tm-slideshow-description tm-slideshow-description-left about-info">
            <h3>Save Your Spots</h3>
            <p>Create a personal Wanderlust account to save destinations to your "Visited" and "Plan to Visit" lists.
                With these features, you can easily organize your travel plans and keep track of where you’ve been or
                where you want to go next. Use the interactive map to visualize your journey, set future travel goals,
                and build a detailed travel journal. This makes it simple to revisit your favorite destinations
                and plan new adventures, all in one place, just a click away.</p>
        </div>
    </section>

    <section class="tm-slideshow-section">
        <div class="tm-slideshow">
            <img class="about-photo" src="{{ url_for('static', filename='img/about-03.png') }}" alt="Image">
        </div>
        <div class="tm-slideshow-description about-info">
            <h3>Tap into the API</h3>
            <p>Wanderlust offers more than just a travel website, developers can access a powerful RESTful API
                to interact with the platform’s data. The API enables retrieving detailed destination info and real-time
                weather, as well as adding and updating destinations directly on the platform keeping the travel content
                fresh and up-to-date. Fully documented and secured with API keys, it’s perfect for creating custom
                travel apps, research projects, or enhancing existing services with travel data.
                Jump in now to get your API key and start exploring!</p>
        </div>
    </section>
</div>

{% include "footer.html" %}