{% include "header.html" %}

<section class="tm-banner">
    <div class="tm-container-outer tm-banner-ad">
        <div class="container">
            <div class="row tm-banner-row tm-banner-row-header">
                <div class="col-xs-12">
                    <div class="tm-banner-header">
                        <h1 class="text-uppercase tm-banner-title topm">Discover Your Ideal Getaway</h1>
                        <img src="{{ url_for('static', filename='img/dots-3.png') }}" alt="Dots">
                        <p class="tm-banner-subtitle">Want to travel and don't know where to go?</p>
                        <a href="/random" class="text-uppercase btn-primary tm-btn topm">Get a random destination</a>
                    </div>
                </div>
            </div>
            <div class="row tm-banner-row topm" id="tm-section-search">
                            <a href="javascript:void(0)" class="tm-down-arrow-link"><i class="fa fa-2x fa-angle-down tm-down-arrow"></i></a>
            </div>
            <div class="tm-banner-overlay"></div>
        </div>
    </div>
</section>

<div class="tm-page-wrap mx-auto pt1 pb1">
    <div class="tab-pane">

    {% if all_destinations %}
        {% for destination in all_destinations %}

        <div class="tm-recommended-place-wrap">
            <div class="tm-recommended-place">
                <img src="{{ destination.picture }}" alt="Image" class="img-fluid tm-recommended-img">
                <div class="tm-recommended-description-box">
                    <h3 class="tm-recommended-title">{{ destination.city }}</h3>
                    <p class="tm-text-highlight">{{ destination.country }}, {{ destination.continent }}</p>
                    <p class="tm-text-gray">{{ destination.popular_attractions }}</p>
                </div>
                <a href="/{{destination.city}}" class="tm-recommended-price-box">
                    <p class="tm-recommended-price">
                        {% if destination.budget == "affordable" %}
                        $<span style="color: rgba(255, 255, 255, 0.2);">$$</span>
                        {% elif destination.budget == "moderate" %}
                        $$<span style="color: rgba(255, 255, 255, 0.2);">$</span>
                        {% else %}
                        $$$
                        {% endif %}
                    </p>
                    <p class="tm-recommended-price-link">Check this city</p>
                </a>
            </div>
        </div>

        {% endfor %}

         <div class="pagination" style="justify-content: center;">

            {% if pagination.pages|length > 1 %}

                <ul class="pagination">
                    <li class="page-item{% if pagination.page == 1 %} disabled{% endif %}">
                        <a class="page-link" href="{{ url_for('get_all_destinations', page=1) }}">First</a>
                    </li>
                    <li class="page-item{% if pagination.page == 1 %} disabled{% endif %}">
                        <a class="page-link" href="{{ url_for('get_all_destinations', page=pagination.page - 1) }}">Previous</a>
                    </li>
                    <li class="page-item{% if pagination.page == pagination.pages|last %} disabled{% endif %}">
                        <a class="page-link" href="{{ url_for('get_all_destinations', page=pagination.page + 1) }}">Next</a>
                    </li>
                    <li class="page-item{% if pagination.page == pagination.pages|last %} disabled{% endif %}">
                        <a class="page-link" href="{{ url_for('get_all_destinations', page=pagination.pages[-1]) }}">Last</a>
                    </li>
                </ul>

            {% endif %}

        </div>

    {% elif all_destinations_continent%}
        {% for destination in all_destinations_continent %}

        <div class="tm-recommended-place-wrap">
            <div class="tm-recommended-place">
                <img src="{{ destination.picture }}" alt="Image" class="img-fluid tm-recommended-img">
                <div class="tm-recommended-description-box">
                    <h3 class="tm-recommended-title">{{ destination.city }}</h3>
                    <p class="tm-text-highlight">{{ destination.country }}, {{ destination.continent }}</p>
                    <p class="tm-text-gray">{{ destination.popular_attractions }}</p>
                </div>
                <a href="/{{destination.city}}" class="tm-recommended-price-box">
                    <p class="tm-recommended-price">
                        {% if destination.budget == "affordable" %}
                        $<span style="color: rgba(255, 255, 255, 0.2);">$$</span>
                        {% elif destination.budget == "moderate" %}
                        $$<span style="color: rgba(255, 255, 255, 0.2);">$</span>
                        {% else %}
                        $$$
                        {% endif %}
                    </p>
                    <p class="tm-recommended-price-link">Check this city</p>
                </a>
            </div>
        </div>

        {% endfor %}

         <div class="pagination" style="justify-content: center;">

            {% if pagination.pages|length > 1 %}

                <ul class="pagination">
                    <li class="page-item{% if pagination.page == 1 %} disabled{% endif %}">
                        <a class="page-link" href="{{ url_for('get_all_destinations_by_continent', continent=continent, page=1) }}">First</a>
                    </li>
                    <li class="page-item{% if pagination.page == 1 %} disabled{% endif %}">
                        <a class="page-link" href="{{ url_for('get_all_destinations_by_continent',continent=continent, page=pagination.page - 1) }}">Previous</a>
                    </li>
                    <li class="page-item{% if pagination.page == pagination.pages|last %} disabled{% endif %}">
                        <a class="page-link" href="{{ url_for('get_all_destinations_by_continent', continent=continent,page=pagination.page + 1) }}">Next</a>
                    </li>
                    <li class="page-item{% if pagination.page == pagination.pages|last %} disabled{% endif %}">
                        <a class="page-link" href="{{ url_for('get_all_destinations_by_continent', continent=continent,page=pagination.pages[-1]) }}">Last</a>
                    </li>
                </ul>

            {% endif %}

        </div>

    {% endif %}

    </div>
</div>

{% include "footer.html" %}