{% include "header.html" %}

<section class="tm-banner">
    <div class="tm-container-outer" style="background: url({{ destination.picture }}) center top no-repeat; min-height: 720px; position: relative; background-size: cover;">
        <div class="container">
            <div class="row tm-banner-row tm-banner-row-header">
                <div class="col-xs-12">
                    <div class="tm-banner-header">
                        <h1 class="text-uppercase tm-banner-title topm">{{ destination.city }}</h1>
                        <h6><img class="flag" src="{{ country_info['flag'] }}"> {{ destination.country }}, {{ destination.continent }}</h6>
                        <br>
                        <img src="{{ url_for('static', filename='img/dots-3.png') }}" alt="Dots">
                        <br>
                        <p class="tm-banner-subtitle">{{ destination.description }}</p>
                        <a href="/random" class="text-uppercase btn-primary tm-btn topm">Get a random destination</a>
                    </div>
                </div>
            </div>
            <div class="row tm-banner-row topm" id="tm-section-search">
                            <a href="javascript:void(0)" class="tm-down-arrow-link"><i class="fa fa-2x fa-angle-down tm-down-arrow"></i></a>
            </div>
            <div class='tm-banner-overlay' style="background: rgba(0, 0, 0, 0.6);"></div>
        </div>
    </div>
</section>

{% if current_user.is_authenticated %}

<section class="p-5 tm-container-outer tm-bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 mx-auto tm-about-text-wrap text-center">
                <p class="mb-4">Click the "{% if is_visited %}Remove from{% else %}Add to{% endif %} 'Visited'" button to mark this destination as visited, or click the "{% if is_planned_to_visit %}Remove from{% else %}Add to{% endif %} 'Plan to Visit'" button to plan a future visit to this destination.
                <br>The lists can be seen at your profile.</p>
                <a href="{% if is_visited %}/{{destination.city}}/remove_visited{% else %}/{{destination.city}}/add_visited{% endif %}" class="text-uppercase btn-primary tm-btn m1 {% if is_visited %}remove-button{% endif %}">
                    {% if is_visited %}Remove from 'Visited'{% else %}Add to 'Visited'{% endif %}
                </a>
                <a href="{% if is_planned_to_visit %}/{{destination.city}}/remove_plan_to_visit{% else %}/{{destination.city}}/add_plan_to_visit{% endif %}" class="text-uppercase btn-primary tm-btn m1 {% if is_planned_to_visit %}remove-button{% endif %}">
                    {% if is_planned_to_visit %}Remove from 'Plan to Visit'{% else %}Add to 'Plan to Visit'{% endif %}
                </a>
            </div>
        </div>
    </div>
</section>

{% else %}

<section class="p-5 tm-container-outer tm-bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 mx-auto tm-about-text-wrap text-center">
                <p class="mb-4"> Sign up or log in now to start keeping track of your adventures!<br>Once logged in, you can use the 'Add to Visited' or 'Add to Plan to Visit' buttons to track your travel experiences.</p>
                <a href="/register" class="text-uppercase btn-primary tm-btn m1">
                   Sign Up
                </a>
                <a href="/login" class="text-uppercase btn-primary tm-btn m1">
                   Login
                </a>
            </div>
        </div>
    </div>
</section>

{% endif %}

<div class="tm-page-wrap mx-auto">
    <h1 class="topp pb1" style="text-align:center;">
        What is {{ destination.city }} known for:
    </h1>
    <section class="tm-banner">
        <p id="popular">{{ destination.popular_attractions }}</p>
        <div class="bbox">
            <div class="cell">

          {% for k, v in destination.to_dict()['ratings']|dictsort(true, 'value')|reverse  %}
            {% if v > 1 %}

                <div class="scores">
                    <p style="width:100%">{{ k.replace('_', ' ') }}</p>
                    <meter max="5" value="{{ v }}">{{ v }}</meter>
                 </div>

            {% endif %}
          {% endfor %}

            </div>
        </div>
    </section>

    {% if weather %}

    <h1 class="topm" style="text-align:center;">
        Weather forecasting:
    </h1>

    <section class="tm-banner topm">
        <div class="container">
            <div class="row" style="text-align: center; justify-content: center;">

                {% for date, info in weather.items() %}

                        <div style="margin: auto;">
                            <img src="{{ url_for('static', filename='weather-icons/' ~ info['description'] ~ '.png') }}" alt="{{ info['description'] }}">
                            <p><strong>{{ date }} {{ info['temp'] }}°C</strong></p>
                        </div>

                {% endfor %}

            </div>
        </div>
    </section>

    {% endif %}

    <h1 class="topm pb1" style="text-align:center;">
        Flight tickets:
    </h1>
    <section class="tm-banner topm" style="text-align: center;">
        <div id="flight">
            <script async src="https://tp.media/content?trs=304738&shmarker=529492&locale=en&curr=EUR&default_origin=Bucharest&default_destination={{ destination.city }}&powered_by=false&border_radius=0&plain=true&color_button=%2369c6ba&color_button_text=%23000000ff&color_border=%23FFFFFFFF&promo_id=4132&campaign_id=121" charset="utf-8"></script>
        </div>
    </section>

    <h1 class="topm mb3" style="text-align:center;">
        {{ destination.country }} FAQ:
    </h1>
    <section class="tm-banner pb3">
        <h4 class="faq">Q: What is the capital of {{ destination.country }}?</h4>
        <p class="faq-p">A: {{ country_info['capital'] }}</p>
        <br>
        <h4 class="faq">Q: What currency does {{ destination.country }} use?</h4>
        <p class="faq-p">A: {{ country_info['currency'] }}</p>
        <br>
        <h4 class="faq">Q: What are the timezones in {{ destination.country }}?</h4>
        <p class="faq-p">A: {{ country_info['timezones'] }}</p>
        <br>
        <h4 class="faq">Q: What countries does {{ destination.country }} border with?</h4>
        <p class="faq-p">A: {{ country_info['borders'] }}</p>
        <br>
        <h4 class="faq">Q: How many languages are spoken here?</h4>
        <p class="faq-p">A: {{ country_info['languages'] }}</p>
        <br>
        <h4 class="faq">Q: In which subregion is it located?</h4>
        <p class="faq-p">A: {{ country_info['subregion'] }}</p>
    </section>

    <div id="map"></div>
</div>


<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin="">
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var url = "https://nominatim.openstreetmap.org/search?format=json&q=" + "{{ destination.city }}";
        fetch(url)
            .then(response => response.json())
            .then(data => {
                var latitude = parseFloat(data[0].lat);
                var longitude = parseFloat(data[0].lon);

                var map = L.map('map').setView([latitude, longitude], 12);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                }).addTo(map);
            })
            .catch(e => {
                console.error('Error:', e);
            });
    });
</script>

{% include "footer.html" %}