{% include "header.html" %}

        <div class="tm-page-wrap mx-auto">
            <section class="tm-banner">
                <div class="tm-container-outer tm-banner-bg">
                    <div class="container">
                        <div class="row tm-banner-row tm-banner-row-header">
                            <div class="col-xs-12">
                                <div class="tm-banner-header">
                                    <h1 class="text-uppercase tm-banner-title topm">Discover Your Ideal Getaway</h1>
                                    <img src="{{ url_for('static', filename='img/dots-3.png') }}" alt="Dots">
                                    <p class="tm-banner-subtitle">Want to travel and don't know where to go?</p>
                                    <a href="/random" class="text-uppercase btn-primary tm-btn topm">Get a random destination</a>
                                </div>
                            </div>
                        </div>
                        <div class="row tm-banner-row topm" id="tm-section-search">
                            <a href="javascript:void(0)" class="tm-down-arrow-link"><i class="fa fa-2x fa-angle-down tm-down-arrow"></i></a>
                        </div>
                        <div class="tm-banner-overlay"></div>
                    </div>
                </div>
            </section>

            <section class="p-5 tm-container-outer tm-bg-gray">            
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 mx-auto tm-about-text-wrap text-center">                        
                            <h2 class="text-uppercase mb-4">Try wanderlust json API</h2>
                            <p class="mb-4">Explore our API documentation to effortlessly integrate and optimize your applications. Get ready to streamline data, enhance functionality, and deliver exceptional user experiences with ease.</p>
                            <a href="/api/docs" class="text-uppercase btn-primary tm-btn">API Docs</a>
                        </div>
                    </div>
                </div>            
            </section>
            
            <div class="tm-container-outer" id="tm-section-2">
                <section class="tm-slideshow-section">
                    <div class="tm-slideshow">
                        <img src="{{ url_for('static', filename='img/img-01.jpg') }}" alt="Image">
                    </div>
                    <div class="tm-slideshow-description tm-bg-primary">
                        <h2 class="">World's most visited places</h2>
                        <p>Embark on a virtual tour of the world's iconic and highly frequented landmarks. From timeless wonders to bustling cities, experience the allure of these globally celebrated destinations. Dive into the world's top attractions and discover why millions of travelers are drawn to these must-see places.</p>
                        <a href="/most_visited" class="text-uppercase tm-btn tm-btn-white tm-btn-white-primary">Jump to it</a>
                    </div>
                </section>

                <section class="clearfix tm-slideshow-section tm-slideshow-section-reverse">

                    <div class="tm-right tm-slideshow tm-slideshow-highlight">
                        <img src="{{ url_for('static', filename='img/img-02.jpg') }}" alt="Image">
                    </div> 

                    <div class="tm-slideshow-description tm-slideshow-description-left tm-bg-highlight">
                        <h2 class="">Check latest destinations</h2>
                        <p>Discover the freshest additions to our collection of exciting destinations. Stay up-to-date with the latest travel hotspots, hidden gems, and must-visit places. Your next adventure awaits among these newly featured destinations. Explore now!</p>
                        <a href="/latest" class="text-uppercase tm-btn tm-btn-white tm-btn-white-highlight">Jump to it</a>
                    </div>
                </section>

                <section class="tm-slideshow-section">
                    <div class="tm-slideshow">
                        <img src="{{ url_for('static', filename='img/img-03.jpg') }}" alt="Image">
                    </div>
                    <div class="tm-slideshow-description tm-bg-primary">
                        <h2 class="">See all available destinations</h2>
                        <p>Explore an extensive list of destinations, each offering its own allure and experiences. Whether you're seeking relaxation, adventure, or cultural immersion, this is your starting point to curate your dream journey. Start your exploration now!</p>
                        <a href="/all" class="text-uppercase tm-btn tm-btn-white tm-btn-white-primary">Jump to it</a>
                    </div>
                </section>
            </div>

            <div class="tm-container-outer pb1" id="tm-section-3">
                <ul class="nav nav-pills tm-tabs-links">
                    <li class="tm-tab-link-li">
                        <a href="#1a" data-toggle="tab" class="tm-tab-link">
                            <img src="{{ url_for('static', filename='img/north-america.png') }}" alt="Image" class="img-fluid">
                            North America
                        </a>
                    </li>
                    <li class="tm-tab-link-li">
                        <a href="#2a" data-toggle="tab" class="tm-tab-link">
                            <img src="{{ url_for('static', filename='img/south-america.png') }}" alt="Image" class="img-fluid">
                            South America
                        </a>
                    </li>
                    <li class="tm-tab-link-li">
                        <a href="#3a" data-toggle="tab" class="tm-tab-link  active">
                            <img src="{{ url_for('static', filename='img/europe.png') }}" alt="Image" class="img-fluid">
                            Europe
                        </a>
                    </li>
                    <li class="tm-tab-link-li">
                        <a href="#4a" data-toggle="tab" class="tm-tab-link">
                            <img src="{{ url_for('static', filename='img/asia.png') }}" alt="Image" class="img-fluid">
                            Asia
                        </a>
                    </li>
                    <li class="tm-tab-link-li">
                        <a href="#5a" data-toggle="tab" class="tm-tab-link">
                            <img src="{{ url_for('static', filename='img/africa.png') }}" alt="Image" class="img-fluid">
                            Africa
                        </a>
                    </li>
                    <li class="tm-tab-link-li">
                        <a href="#6a" data-toggle="tab" class="tm-tab-link">
                            <img src="{{ url_for('static', filename='img/australia.png') }}" alt="Image" class="img-fluid">
                            Oceania
                        </a>
                    </li>
                </ul>
                <div class="tab-content clearfix">
                    <div class="tab-pane fade" id="1a">

                        {% for location in continent_locations["North America"] %}

                        <div class="tm-recommended-place-wrap">
                            <div class="tm-recommended-place">
                                <img src="{{ location.picture }}" alt="Image" class="img-fluid tm-recommended-img">
                                <div class="tm-recommended-description-box">
                                    <h3 class="tm-recommended-title">{{ location.city }}</h3>
                                    <p class="tm-text-highlight">{{ location.country }}</p>
                                    <p class="tm-text-gray">{{ location.popular_attractions }}</p>
                                </div>
                                <a href="/{{location.city}}" class="tm-recommended-price-box">
                                    <p class="tm-recommended-price">
                                        {% if location.budget == "affordable" %}
                                        $<span style="color: rgba(255, 255, 255, 0.2);">$$</span>
                                        {% elif location.budget == "moderate" %}
                                        $$<span style="color: rgba(255, 255, 255, 0.2);">$</span>
                                        {% else %}
                                        $$$
                                        {% endif %}
                                    </p>
                                    <p class="tm-recommended-price-link">Check this city</p>
                                </a>
                            </div>
                        </div>

                        {% endfor %}

                        <a href="/all/North America" class="text-uppercase btn-primary tm-btn mx-auto tm-d-table">Show More Places</a>
                    </div>

                    <div class="tab-pane fade" id="2a">

                        {% for location in continent_locations["South America"] %}

                        <div class="tm-recommended-place-wrap">
                            <div class="tm-recommended-place">
                                <img src="{{ location.picture }}" alt="Image" class="img-fluid tm-recommended-img">
                                <div class="tm-recommended-description-box">
                                    <h3 class="tm-recommended-title">{{ location.city }}</h3>
                                    <p class="tm-text-highlight">{{ location.country }}</p>
                                    <p class="tm-text-gray">{{ location.popular_attractions }}</p>
                                </div>
                                <a href="/{{location.city}}" class="tm-recommended-price-box">
                                    <p class="tm-recommended-price">
                                        {% if location.budget == "affordable" %}
                                        $<span style="color: rgba(255, 255, 255, 0.2);">$$</span>
                                        {% elif location.budget == "moderate" %}
                                        $$<span style="color: rgba(255, 255, 255, 0.2);">$</span>
                                        {% else %}
                                        $$$
                                        {% endif %}
                                    </p>
                                    <p class="tm-recommended-price-link">Check this city</p>
                                </a>
                            </div>
                        </div>

                        {% endfor %}

                        <a href="/all/South America" class="text-uppercase btn-primary tm-btn mx-auto tm-d-table">Show More Places</a>
                    </div>

                    <div class="tab-pane fade show active" id="3a">

                        {% for location in continent_locations["Europe"] %}

                        <div class="tm-recommended-place-wrap">
                            <div class="tm-recommended-place">
                                <img src="{{ location.picture }}" alt="Image" class="img-fluid tm-recommended-img">
                                <div class="tm-recommended-description-box">
                                    <h3 class="tm-recommended-title">{{ location.city }}</h3>
                                    <p class="tm-text-highlight">{{ location.country }}</p>
                                    <p class="tm-text-gray">{{ location.popular_attractions }}</p>
                                </div>
                                <a href="/{{location.city}}" class="tm-recommended-price-box">
                                    <p class="tm-recommended-price">
                                        {% if location.budget == "affordable" %}
                                        $<span style="color: rgba(255, 255, 255, 0.2);">$$</span>
                                        {% elif location.budget == "moderate" %}
                                        $$<span style="color: rgba(255, 255, 255, 0.2);">$</span>
                                        {% else %}
                                        $$$
                                        {% endif %}
                                    </p>
                                    <p class="tm-recommended-price-link">Check this city</p>
                                </a>
                            </div>
                        </div>

                        {% endfor %}

                        <a href="/all/Europe" class="text-uppercase btn-primary tm-btn mx-auto tm-d-table">Show More Places</a>
                    </div>

                    <div class="tab-pane fade" id="4a">

                    {% for location in continent_locations["Asia"] %}

                        <div class="tm-recommended-place-wrap">
                            <div class="tm-recommended-place">
                                <img src="{{ location.picture }}" alt="Image" class="img-fluid tm-recommended-img">
                                <div class="tm-recommended-description-box">
                                    <h3 class="tm-recommended-title">{{ location.city }}</h3>
                                    <p class="tm-text-highlight">{{ location.country }}</p>
                                    <p class="tm-text-gray">{{ location.popular_attractions }}</p>
                                </div>
                                <a href="/{{location.city}}" class="tm-recommended-price-box">
                                    <p class="tm-recommended-price">
                                        {% if location.budget == "affordable" %}
                                        $<span style="color: rgba(255, 255, 255, 0.2);">$$</span>
                                        {% elif location.budget == "moderate" %}
                                        $$<span style="color: rgba(255, 255, 255, 0.2);">$</span>
                                        {% else %}
                                        $$$
                                        {% endif %}
                                    </p>
                                    <p class="tm-recommended-price-link">Check this city</p>
                                </a>
                            </div>
                        </div>

                        {% endfor %}

                        <a href="/all/Asia" class="text-uppercase btn-primary tm-btn mx-auto tm-d-table">Show More Places</a>
                    </div>

                    <div class="tab-pane fade" id="5a">

                       {% for location in continent_locations["Africa"] %}

                        <div class="tm-recommended-place-wrap">
                            <div class="tm-recommended-place">
                                <img src="{{ location.picture }}" alt="Image" class="img-fluid tm-recommended-img">
                                <div class="tm-recommended-description-box">
                                    <h3 class="tm-recommended-title">{{ location.city }}</h3>
                                    <p class="tm-text-highlight">{{ location.country }}</p>
                                    <p class="tm-text-gray">{{ location.popular_attractions }}</p>
                                </div>
                                <a href="/{{location.city}}" class="tm-recommended-price-box">
                                    <p class="tm-recommended-price">
                                        {% if location.budget == "affordable" %}
                                        $<span style="color: rgba(255, 255, 255, 0.2);">$$</span>
                                        {% elif location.budget == "moderate" %}
                                        $$<span style="color: rgba(255, 255, 255, 0.2);">$</span>
                                        {% else %}
                                        $$$
                                        {% endif %}
                                    </p>
                                    <p class="tm-recommended-price-link">Check this city</p>
                                </a>
                            </div>
                        </div>

                        {% endfor %}

                        <a href="/all/Africa" class="text-uppercase btn-primary tm-btn mx-auto tm-d-table">Show More Places</a>
                    </div>

                    <div class="tab-pane fade" id="6a">

                        {% for location in continent_locations["Oceania"] %}

                        <div class="tm-recommended-place-wrap">
                            <div class="tm-recommended-place">
                                <img src="{{ location.picture }}" alt="Image" class="img-fluid tm-recommended-img">
                                <div class="tm-recommended-description-box">
                                    <h3 class="tm-recommended-title">{{ location.city }}</h3>
                                    <p class="tm-text-highlight">{{ location.country }}</p>
                                    <p class="tm-text-gray">{{ location.popular_attractions }}</p>
                                </div>
                                <a href="/{{location.city}}" class="tm-recommended-price-box">
                                    <p class="tm-recommended-price">
                                        {% if location.budget == "affordable" %}
                                        $<span style="color: rgba(255, 255, 255, 0.2);">$$</span>
                                        {% elif location.budget == "moderate" %}
                                        $$<span style="color: rgba(255, 255, 255, 0.2);">$</span>
                                        {% else %}
                                        $$$
                                        {% endif %}
                                    </p>
                                    <p class="tm-recommended-price-link">Check this city</p>
                                </a>
                            </div>
                        </div>

                        {% endfor %}

                        <a href="/all/Oceania" class="text-uppercase btn-primary tm-btn mx-auto tm-d-table">Show More Places</a>
                    </div>
                </div>
            </div>
        </div>

{% include "footer.html" %}