{% include "header.html" %}

<section class="p-5 tm-container-outer tm-bg-gray">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 mx-auto tm-about-text-wrap text-center">
                            <h2 class="text-uppercase mb-4">Try wanderlust json API</h2>
                            <p class="mb-4">Explore our API documentation to effortlessly integrate and optimize your applications. Get ready to streamline data, enhance functionality, and deliver exceptional user experiences with ease.</p>
                            <a href="/api/docs" class="text-uppercase btn-primary tm-btn">API Docs</a>
                        </div>
                    </div>
                </div>
            </section>

{% include "footer.html" %}